
<div class="container-sm col-sm-4 text-center " style="border:1px solid green" >
  <h1>{{title}}</h1>
<form>
Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1"  class="form-control"><br><br>
Numero 2: <input type="number" [(ngModel)]="numero2" name="numero2" class="form-control"><br><br>

<div class="btn-group">
<input type="submit" value="Sumar +" (click)="sumar()" class="btn btn-primary">
<input type="submit" value="Restar -" (click)="restar()" class="btn btn-success">
<input type="submit" value="Multiplicar x" (click)="multiplicar()" class="btn btn-danger">
<input type="submit" value="Dividir /" (click)="dividir()" class="btn btn-warning">
</div>
</form>

<p class="badge text-bg-light text-wrap" style="width: 20rem;font-size: 20px;">Resultado:</p><br>
<p class="badge text-bg-light text-wrap" style="width: 20rem;font-size: 30px;">{{resultado}}</p>
</div>